[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solidity-examples"]
	path = lib/solidity-examples
	url = https://github.com/LayerZero-Labs/solidity-examples
